<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Local-->
    <!--<add name="AMCPatientEmailEntities" connectionString="metadata=res://*/AMCPEModel.csdl|res://*/AMCPEModel.ssdl|res://*/AMCPEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.211,1431;initial catalog=AMCPatientEmail;persist security info=True;user id=AMCPatient;password=bY6hs7vs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GMEEDevelopmentEntities" connectionString="metadata=res://*/AMCGMEE.csdl|res://*/AMCGMEE.ssdl|res://*/AMCGMEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=GMEEDev;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--Development-->
    <!--<add name="GMEEDevelopmentEntities" connectionString="metadata=res://*/AMCGMEE.csdl|res://*/AMCGMEE.ssdl|res://*/AMCGMEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=GMEEDev;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMCPatientEmailEntities" connectionString="metadata=res://*/AMCPEModel.csdl|res://*/AMCPEModel.ssdl|res://*/AMCPEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=amc_patientemail;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Live-->
    <add name="GMEEDevelopmentEntities" connectionString="metadata=res://*/AMCGMEE.csdl|res://*/AMCGMEE.ssdl|res://*/AMCGMEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=GMEEProduction;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMCPatientEmailEntities" connectionString="metadata=res://*/AMCPEModel.csdl|res://*/AMCPEModel.ssdl|res://*/AMCPEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=amc_patientemail;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>