<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--<handlers>
      <add name="TXWebSocketHandler" verb="*" path="TXWebSocketHandler.ashx" type="TXTextControl.Web.WebSocketHandler, TXTextControl.Web, Version=24.0.400.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
      <add name="TXPrintHandler" verb="*" path="TXPrintHandler.ashx" type="TXTextControl.Web.TXPrintHandler, TXTextControl.Web, Version=24.0.400.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
    </handlers>-->
  </system.webServer>
</configuration>