<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PDFKit.NET 4.0 Server Key" value="11240:lusEBUcuraHPccmg1SEzAE++" />
    <!--<add key="host" value="smtp.amccloud.com.au" />
    <add key="username" value="support@amccloud.com.au" />
    <add key="password" value="R3strict3d" />-->
    <add key="host" value="mail.dotsquares.com" />
    <add key="username" value="rohitashw.choudhary@dotsquares.com" />
    <add key="password" value="rohit@dotsquare" />
    <add key="ProcessEmailJob" value="False" />
    <add key="ProcessPharmacyWorksheet" value="False" />
    <add key="ExcelJob" value="False" />
    <add key="PrintJob" value="False" />
    <add key="JobURL" value="http://localhost:51577/emails/AutoProcessEmailJob.aspx" />
    <add key="JobPharmacyWorksheetURL" value="http://localhost:51577/emails/AutoProcessPharmacyWorksheet.aspx" />
    <add key="JobExcelURL" value="http://localhost:51577/emails/AutoProcessExcelJob.aspx" />
    <add key="JobPrintURL" value="http://localhost:51577/emails/AutoProcessPrintJob.aspx" />

    <!--<add key="Server03BusinessAttachments" value="D:\\GMEE_Attachments\\"/>
    <add key="Server03AllAttachments" value="D:\\FrontRange\GMEE Templates &amp; Attachments\"/>
    <add key="Server03SavePrintDocument" value="D:\\GMEE_Attachments\\"/>-->
    
    <add key="Server03BusinessAttachments" value="E:\\SubDir\" />
    <add key="Server03AllAttachments" value="E:\\TestAll\" />
    <add key="Server03SavePrintDocument" value="D:\\Attachments\\" />
    <add key="Server03PharmacyWorksheet" value="D:\\PharmacyWorksheet\\" />
    <add key="Server03PrintDocument" value="D:\\PrintDocument\\" />

    <!--<add key="Server03BusinessAttachments" value="\\server03\\GMEE_Attachments\\" />
    <add key="Server03AllAttachments" value="\\server03\\GMEE_Attachments\\" />
    <add key="Server03SavePrintDocument" value="\\server03\\GMEE_Attachments\\" />
    <add key="Server03PharmacyWorksheet" value="\\server03\\PharmacyWorksheet\\" />-->

    <add key="GMEEEntities" value="Data Source=Server03;Initial Catalog=GMEEDEV;Persist Security Info=True;User ID=GMEE; Password=P@ssw0rd; MultipleActiveResultSets=True;"/>
    <add key="AMCEntities" value="Data Source=Server03;Initial Catalog=AMC_PatientEmail;Persist Security Info=True;User ID=GMEE; Password=P@ssw0rd; MultipleActiveResultSets=True;"/>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="1440" compressionEnabled="true" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Office.Tools.Word, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="TXDocumentServer, Version=24.0.1000.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
        <add assembly="TXTextControl, Version=24.0.1700.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
        <add assembly="TXTextControl.Web, Version=24.0.400.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
        <add assembly="TXTextControl.Server, Version=24.0.900.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="102400" />
    <httpHandlers>
      <!--<add verb="GET" path="~/Handlers/KeepSessionAlive.ashx" type="KeepSessionAlive"/>-->
    </httpHandlers>
    <!--<authentication mode="Windows"></authentication>
    <identity impersonate="true" userName="amc\rohit" password="Welcome1" />-->
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <!--<directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size"/>-->
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <!--<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />-->
      
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <handlers>
      <add name="TXWebSocketHandler" verb="*" path="TXWebSocketHandler.ashx" type="TXTextControl.Web.WebSocketHandler, TXTextControl.Web, Version=24.0.400.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
      <add name="TXPrintHandler" verb="*" path="TXPrintHandler.ashx" type="TXTextControl.Web.TXPrintHandler, TXTextControl.Web, Version=24.0.400.500, Culture=neutral, PublicKeyToken=6B83FE9A75CFB638" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--Dev-->
    <!--<add name="GMEEDevelopmentEntities" connectionString="metadata=res://*/AMCGMEE.csdl|res://*/AMCGMEE.ssdl|res://*/AMCGMEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=GMEEDev;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMCPatientEmailEntities" connectionString="metadata=res://*/AMCPEModel.csdl|res://*/AMCPEModel.ssdl|res://*/AMCPEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=amc_patientemail;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Live-->
    <add name="GMEEDevelopmentEntities" connectionString="metadata=res://*/AMCGMEE.csdl|res://*/AMCGMEE.ssdl|res://*/AMCGMEE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=GMEEProduction;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMCPatientEmailEntities" connectionString="metadata=res://*/AMCPEModel.csdl|res://*/AMCPEModel.ssdl|res://*/AMCPEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server03;initial catalog=amc_patientemail;persist security info=True;user id=GMEE;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="xpf.printing" connectionString="xpoprovider=MSSqlServer;data source=(localdb)\v11.0;attachdbfilename=|DataDirectory|\ReportService.mdf;integrated security=True;connect timeout=120"/>-->
  </connectionStrings>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportServiceBinding" maxReceivedMessageSize="4194304" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ReportServiceBehavior" name="WordApplication.cs">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ReportServiceBinding" contract="DevExpress.XtraReports.Service.IReportService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>